<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Адрес сервера:</string>
		<key>SettingType</key>
		<string>NET</string>
		<key>StrValue</key>
		<string>http://85.175.100.4:8080/WSS/</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Время ожидания</string>
		<key>SettingType</key>
		<string>NET</string>
		<key>StrValue</key>
		<string>300</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Использовать HTTPS</string>
		<key>SettingType</key>
		<string>NET</string>
		<key>StrValue</key>
		<string>Да</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Длина порции списка</string>
		<key>SettingType</key>
		<string>NET</string>
		<key>StrValue</key>
		<string>20</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Время бездействия</string>
		<key>SettingType</key>
		<string>NET</string>
		<key>StrValue</key>
		<string>1800</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Тема оформления</string>
		<key>SettingType</key>
		<string>INTERFACE</string>
		<key>StrValue</key>
		<string>Стандартная</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Системные сообщения</string>
		<key>SettingType</key>
		<string>INTERFACE</string>
		<key>StrValue</key>
		<string>Включены</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Локальный режим</string>
		<key>SettingType</key>
		<string>FUNCTION</string>
		<key>StrValue</key>
		<string>Нет</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string>Показывать закрытые</string>
		<key>SettingType</key>
		<string>FUNCTION</string>
		<key>StrValue</key>
		<string>Да</string>
	</dict>
	<dict>
		<key>BOOLValue</key>
		<false/>
		<key>DataValue</key>
		<data></data>
		<key>DateValue</key>
		<date>2011-07-29T20:47:42Z</date>
		<key>IntValue</key>
		<integer>0</integer>
		<key>SettingID</key>
		<integer>0</integer>
		<key>SettingName</key>
		<string></string>
		<key>SettingType</key>
		<string>FUNCTION</string>
		<key>StrValue</key>
		<string></string>
	</dict>
</array>
</plist>
